/* Default light mode styles */
:root {
    --background-color: #f4f4f4;
    --text-color: #333;
}

/* Dark mode styles */
body.dark-mode {
    --background-color: #121212;
    --text-color: #fff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}