body {
  font-family: Arial, sans-serif;
  background-color: #1d1616;
  text-align: center;
}
.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1f1a1aff; /* Fix background color value */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
h1 {
  color: #333;
}
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #241919;
  border-radius: 3px;
}
button {
  background-color: #0c0f12;
  color: #380f0f;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 3px;
  cursor: pointer;
}
button:hover {
  background-color: #111e2c;
}
.dark-mode-toggle {
  /* Add styles for the dark mode toggle here */
}
/* Add other styles for the dark mode here */