
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #007AFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #222;
    color: #007AFF;
    ;
}

header {
    background-color: #222;
    color: #007AFF;
    text-align: center;
    padding: 10px;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.menu {
    text-align: left;
    width: 300px;
    padding: 20px;
    background-color: #222;
    color: #007AFF;
    border-radius: 10px;
    margin: 0 auto 20px auto;
}

body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #222;
}

header {
    background-color: #222;
    color: #007AFF;
    text-align: center;
    padding: 20px;
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10;
}

header {
    background-color: #222;
    text-align: center;
    margin-top: auto;
    height: 50px;
    padding: 0px;
}

main {
    text-align: center;
}


.calendar {
    width: 580;
    height: 290;
    margin: 0 auto;
    font-size: 20;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    text-align: center;
}

.calendar-day {
    
    padding: 10px;
    background-color: #222;

    border-radius: 6px; 
    cursor: pointer;
}

.calendar-day:hover {
    background-color: #333;;
}

.selected {
    background-color: #333;
    color: rgb(0, 0, 0);
}
#prev-month, #next-month {
    background: #222;
    color: #007AFF;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

#prev-month:hover, #next-month:hover {
    background: #222;
}



